@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.initialism{
	white-space: nowrap;
}

b{
	font-weight: normal;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

[epub|type~="subtitle"]{
	font-variant: small-caps;
}

[epub|type~="subchapter"] h3{
	margin: 2em 0 1em 0;
}

[epub|type~="z3998:stage-direction"]:before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]:after{
	content: ")";
	font-style: normal;
}

p[epub|type~="z3998:stage-direction"]{
	text-align: center;
	text-indent: 0;
}

[epub|type~="z3998:persona"]{
	font-variant: small-caps;
	text-transform: lowercase;
}

td[epub|type~="z3998:persona"]{
	text-align: right;
	white-space: nowrap;
}

td{
	vertical-align: top;
	padding: .5em;
}

th{
	font-variant: small-caps;
	text-align: center;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

blockquote[epub|type~="z3998:letter"]{
	font-style: italic;
}

blockquote[epub|type~="z3998:letter"] em{
	font-style: normal;
}

[epub|type~="z3998:letter"] footer p.signature,
p[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

p[epub|type~="z3998:salutation"]{
	text-align: left;
}

p[epub|type~="z3998:valediction"]{
	text-align: center;
}

[epub|type~="z3998:letter"] footer p.signature{
	text-align: right;
}

[epub|type~="z3998:lyrics"] p{
	font-style: italic;
}

header p{
	margin: 2em 0 1em 0;
	font-style: italic;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:lyrics"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:lyrics"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:lyrics"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] + p,
[epub|type~="z3998:lyrics"] + p{
	text-indent: 0;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

p span.i3{
	text-indent: -1em;
	padding-left: 4em;
}

p span.i4{
	text-indent: -1em;
	padding-left: 5em;
}
